<!DOCTYPE html>
<!--
Blog Post for

Date: 2024-09-21
Time: 1606H
-->

<html>
    <head>
        <title>YYYY-MM-DD (HH:MM)H</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Define website metadata to set the website's width (horizontal length) to the widget of the device -->
        <script defer src="../../../../assets/lib/index.js" type="text/javascript" alt="javascript"></script> <!-- Defer the loading to after the DOM is done loading before running the script -->
        <link href="../../../../assets/style/index.css" type="text/css" rel="stylesheet" /> <!-- Import external CSS file -->
    </head>

    <body class="font-family-monospace portfolio-blog-post">
        <!--
            Body Header
        -->
        <div id="portfolio-Navbar" class="font-bold top-navbar sticky">
            <!-- Navigation Bar -->
            <a href="../../../../index.html">Home</a>
            <a href="../../../about-me.html">About Me</a>
            <a href="../../../../index.html#portfolio-projects">Projects</a>
            <a href="../../../../index.html#portfolio-contacts">Contacts</a>
            <a href="../../table-of-contents.html" class="active">Blog Posts</a>
        </div>

        <br/>

        <!--
            Body
        -->
        <div id="portfolio-body" class="font-bold">
            <div id="blog-post-contents">
                <!--
                    Blog Entry contents
                -->
                <div class="portfolio-containers">
                    <div>
                        <p>Date: YYYY-MM-DD</p>
                        <p>Time: (HH:MM)H</p>
                    </div>

                    <br/>

                    <div>
                        <p>Hi, this is the initial post</p>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <hr/>

    <!--
        Footer
    -->
    <footer id="portfolio-footer" class="font-bold">
        <div class="footer">
            <a href="https://github.com/Thanatisia"><h3>GitHub - Thanatisia</h3></a>
            <a href="#"><h3>LinkedIn</h3></a>
        </div>
        <h6 style="text-align: right;";>Made in pure HTML5 CSS3 Javascript</h6>
    </footer>
</html>

